body{
    font-family: 'Nunito', sans-serif;
}

.botn:hover{
  color: black;
}
.botn{
  display: block;
  text-align:center;
  background: rgb(128,218,202);
  margin: 1% 40%;
  letter-spacing: 1px;
  font-size: 22px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 22px;
  text-decoration: none;
  color: black;
  box-shadow:  0 8px 30px -5px grey;
  cursor: pointer;
}
.boton{
  width: 100%;
}
.card{
  width: 60vw;
  margin-left: 20vw;
  margin-top: 20px;
  box-shadow:  0 8px 30px -5px grey;
}
